$font-stack:   Arial;
$primary-color: #333;
$font-size: 12px;

@mixin setBgColorAndHover($baseColor) {
    color: $baseColor;
    &:onmouseover {
          color: darken($baseColor, 5%);
    }
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: $font-size;
}

.clink {
    a {
		   @include setBgColorAndHover($primary-color);
    }
}
